@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-black: #010101;
    --color-primary: #5d00ff;
    --color-gray: #ededed;
    --color-white: #fff;
    --border-default: 3px;
}

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    transition: .3s;
}

html,
body {
    color: var(--color-black);
    scroll-behavior: smooth;
}

header{
    background-image: linear-gradient(to bottom, #c8c8c8, #fff);
    height: 50vh;
    margin-bottom: 5vh;
    width: 100%;
}

.text-blue {
    color: var(--color-primary);
}

nav {
    background-color: var(--color-black);
    padding: 1rem;
    position: absolute;
    position: fixed;
    list-style-type: none;
    top: 0;
    text-align: right;
    width: 100%;
    z-index: 1;
}
nav li {
    display: inline-block;
    margin-right: 1rem;
}
nav li a, nav li button{
    color: var(--color-white);
}

nav button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: .9rem;
}
.to-top{
    display: none;
}

@media (max-width: 992px) {
    nav {
        background-color: var(--color-black);
        bottom: 0;
        left: 0;
        padding: 1.9rem 0;
        top: auto;
        text-align: center;
        width: 100%;
    }

    nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    nav i {
        font-size: 1.4rem;
    }
    nav button {
    font-size: 1.2rem;
}
.to-top{
    display: contents;
}
}
section{
    margin-bottom: 25vh;
}
article{
    padding: 2rem;
    max-width: 1024px;
}
section article h1{
    font-size: 3rem;
    font-weight: 1000;
    padding-top: 5rem;
    text-transform: uppercase;
}
section article p{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.color-primary{
    color: var(--color-primary);
}
.ico-space{
    font-size: 2rem;
    display: inline-block;
    text-align: left;
    width: 60px;
}
.ico-space-2{
    display: inline-block;
    text-align: left;
    width: 25px;
}
.links{
    display: grid;
}
.btn{
    border: 2px solid var(--color-primary);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 4rem 1rem 1rem;
}
.btn i{
    margin-right: .5rem;
}
.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-primary);
}
.projects,
.contact {
  display: none;
  opacity: 0;
  transform: translateY(-5px);
}

.show {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section ul{
    list-style-type: none;
    margin-top: 3rem;
}
section a{
    color: var(--color-primary);
}
section li{
    margin-bottom: 1rem;
}
/* .btn-primary:hover, .btn-secondary:hover{
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    color: var(--color-white);
} */
footer{
    background-color: var(--color-gray);
    color: #8d8d8d;
    font-size: .8rem;
    text-align: right;
    padding: 10px 2rem;
}
footer i{
    color: red;
}


@media (max-width: 992px) {
section article{
    padding: 1rem;
}
section article h1{
    font-size: 2rem;
}
section article p{
    font-size: 1.1rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}
.ico-space{
    font-size: 1.5rem;
    width: 40px;
}
.links{
    min-height: auto;
}
.flex-cta{
    display: grid;
}
.btn{
    margin-bottom: 1rem;
}
section ul{
    margin-top: 1rem;
}
}


@media (max-width: 992px) {}