@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-black: #010101;
    --color-primary: #1062FE;
    --color-gray: #dcdcdc;
    --color-white: #f6f6f6;
    --border-default: 10px;
    --box-shadow-default: 1px 3px 3px #e1e0e0;
}

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    transition: .3s;
}

html,
body {
    background-color: var(--color-white);
    color: var(--color-black);
    scroll-behavior: smooth;
}
.text-primary {
    color: var(--color-primary);
}
article {
  position: relative;
  max-width: 800px;
  padding: 40px 40px 20px 80px;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #333;
}

article::before {
  content: "“";
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 140px;
  line-height: 1;
  color: var(--color-black);
  font-family: Georgia, serif;
  font-weight: bold;
}

article::after {
  content: "”";
  position: absolute;
  bottom: -80px;
  right: 0;
  font-size: 140px;
  line-height: 1;
  color: var(--color-black);
  font-family: Georgia, serif;
  font-weight: bold;
}
.about{
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color-white), #fff);
    display: grid;
    font-size: 1.2rem;
    min-height: 100vh;
}
.about a{
    color: var(--color-black);
}
.about a:hover{
    text-decoration: none;
}
.about p{
    line-height: 2.5rem;
    margin: 2rem 0;
}
.about article{
    margin: auto;
    max-width: 1024px;
    text-align: center;
}
.about i{
    font-size: 1.6rem;
}
@media (max-width: 992px) {
    .about{
    background-image: linear-gradient(to bottom, var(--color-white), var(--color-gray));
    font-size: 1rem;
    grid-template-columns: 1fr;
    height: auto;
    padding-bottom: 6rem;
    }
    article::before {
    left: 2rem;
    }
    article::after {
    right: 2rem;
    }
}
.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -230%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-black);
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    pointer-events: none;
}
.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}
nav {
    position: absolute;
    position: fixed;
    list-style-type: none;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    width: 100%;
    z-index: 1;
}
nav li {
    display: inline-block;
    margin-right: 1rem;
}
nav li a, nav li button{
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: bold;
}

nav button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: .9rem;
}
.to-top{
    display: none;
}

@media (max-width: 992px) {
    nav {
        background-color: #fff;
        bottom: 0;
        left: 0;
        padding: 1.9rem 0;
        top: auto;
        text-align: center;
        width: 100%;
    }

    nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    nav i {
        font-size: 1.4rem;
    }
    nav button {
    font-size: 1.2rem;
}
.to-top{
    display: contents;
}
}
@media (max-width: 992px) {}