@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-black: #010101;
    --color-primary: #1062FE;
    --color-gray: #dcdcdc;
    --color-white: #f6f6f6;
    --border-default: 10px;
    --box-shadow-default: 1px 3px 3px #e1e0e0;
}

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    transition: .3s;
}

html,
body {
    background-color: var(--color-white);
    color: var(--color-black);
    scroll-behavior: smooth;
}
.text-primary {
    color: var(--color-primary);
}
.about{
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color-white), var(--color-gray));
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: auto auto;
    min-height: 100vh;
}
.about li{
    list-style-type: none;
    margin-bottom: 1rem;
}
.about a{
    color: var(--color-primary);
}
.about a:hover{
    text-decoration: underline;
}
.about p{
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
.about img{
    filter: grayscale(1);
    height: 100vh;
}
.about img:hover{
    filter: grayscale(0);
}
.about article{
    padding: 4rem;
}

@media (max-width: 992px) {
    .about{
        font-size: 1rem;
    grid-template-columns: 1fr;
    height: auto;
    padding-bottom: 6rem;
    }
    .about article{
    padding: 2rem;
}
    .about img{
        filter: grayscale(0);
        width: 100%;
        height: auto;
    }
}
nav {
    position: absolute;
    position: fixed;
    list-style-type: none;
    bottom: 2rem;
    right: 4rem;
    text-align: right;
    width: 100%;
    z-index: 1;
}
nav li {
    display: inline-block;
    margin-right: 1rem;
}
nav li a, nav li button{
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: bold;
}

nav button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: .9rem;
}
.to-top{
    display: none;
}

@media (max-width: 992px) {
    nav {
        background-color: #fff;
        bottom: 0;
        left: 0;
        padding: 1.9rem 0;
        top: auto;
        text-align: center;
        width: 100%;
    }

    nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    nav i {
        font-size: 1.4rem;
    }
    nav button {
    font-size: 1.2rem;
}
.to-top{
    display: contents;
}
}
@media (max-width: 992px) {}